//@import "compass/css3/images";
.breaking-news {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
    height: 1em;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 0.5em;
    font-size: 2.5em;
    font-family: DryGoods,Arial;
    padding: 0 1em 0 1em;
    text-decoration: none;
    a {
      display: inline-block;
      margin-top: 0.3em;

      &:hover {
        color: red;
        text-decoration: none;
      }
    }


/*    border-top: 1px solid #96d1f8;

    @include background-image(linear-gradient(#3e779d, #65a9d7));

    background: #65a9d7;
    padding: 15px 30px;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    border-radius: 31px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      border-top-color: #28597a;
      background: #28597a;
      color: #ccc;
    }
    &:active {
      border-top-color: #1b435e;
      background: #1b435e;
    }
*/
  }

  .SibLogo.homelogo {
    width: 600px;
    padding-left: 150px;
    padding-top: 40px;
  };

  .home-header {
    margin-bottom: 20px;

    .shcalogo {
      img {
      margin-top: 0px;
      }
    }

    .dateinfo {
    }
    h1 {
      font-size: 1.3em;
      margin-bottom: 0.8em;
    }
    h3 {
      margin-bottom: 0.6em;
    }
    h2 {
      span {
        display: block;
        text-align: center;
      }
    }
  }
