@import "variables";

.page {

  h1 {
    font-family: planet-benson-2;
    text-align: center;
  }

  h2 {
    color: black;
    font-size: 1.1em;
    line-height: 1.2em;
  }

  h3 {
    font-size: 1.0em;
  }

  margin: 0 auto;
  position: relative;
  min-height: 400px;
  padding-left: $menu-width-plus-margin;
  td {
    vertical-align: top;
  }

  .page-body {
    font-size: 1.3em;
    float: left;
    overflow: wrap;
  }
  // Fancy unordered list
  .fancy-ul {
    ul {
      margin: 0.5em 0 0.5em 3em;
      list-style-type: none;
         }
    li {
      display: block;
      margin-bottom: 0.8em;
    }
    li:before {
      @extend .icon-paw;
      margin:0 0.5em 0 -1.5em;
      color: #696838;
    }
  }

  .hotels {
    address {
      display: inline-block;
      text-align: center;

    }
    img { margin-bottom: 45px;}
    .hotel-details {
      ul { margin-left: 30px; margin-bottom: 1em; }
      div { margin-bottom: 1em;}
    }
  }

  .SibLogo {
    width: 200px;
    float: right;
  }


}

.shcalogo-footer { width: 20px;}

