// FontAwesome
@import "FontAwesome/assets/stylesheets/font-awesome";

@import "variables";

@import "icons";
@import "page";
@import "home";
@import "menu";
@import "table";

@import "siblogo";
.dateinfo {
  display: inline-block;
  width: auto;
  margin: 0 20px 0 20px;
  text-align: center;
  font-size: 3.5em;
  color: rgb(22, 145, 190);
  line-height: 2.5em;

}

@font-face {
  font-family: 'Planet Benson 2';
  src: url('/fonts/planet-benson-2.ttf');
}
@font-face {
  font-family: 'DryGoods';
  src: url('/fonts/DryGoodsNarrowSm.CapsJL.ttf');
}

.shcalogo img {
  width: 300px;
  height: 300px;
}

// stupid bootstrap
img {
  vertical-align: top;
}
.container {
  width: auto;
}
ul, ol {
  margin: 0;
}

.site {
    width: 80%;
    margin: 0 auto;
    background-color: $background-color;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: $background-color;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

