@{
    ViewBag.Title = "SHCA 2015 National";
}
    <div class="SibLogo">
        <span class="line1">
            <span>Back to the</span>
            <span class="hat"><img src="stylesheets/img/hat.png" /></span>
            <span class="feathers"><img src="stylesheets/img/headdress.png" /></span>
        </span>
        <span class="line2">Wild Wild West...</span>

        <span class="sibes"><img src="stylesheets/img/sibelogo.jpg" /></span>
    </div>
</div>

